main {
  width: 100%;
  margin-top: 50px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.registerDiv{
  width: 70vh;
  height: 70vh;
  background-color: #E1E5EE;
  border-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 70%;
}

fieldset{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
  height: 18%;
  margin: 10px 0;
}

fieldset input{
  background: transparent;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #2A324B;
  transition: 0.5s
}

button:disabled {
  height: 20%;
  transition: 0.3s;
}

button:enabled {
  height: 20%;
  cursor: pointer;
  background-color: #2A324B;
  color: #FBFAF8;
  transition: 0.3s;
}

button:enabled:hover {
  height: 20%;
  border: 1px solid #437C90;
  background-color: #437C90;
}

