<div class="trackingDiv">

  <div class="timerDiv">

    <div class="timerDesc">
      <h2>Time Tracker</h2>
      <ul>
        <li>Press Start to enter your project title and description, work on it and after you are done press Stop</li>
        <li>Track how much time you spend on each project you are working on</li>
        <li>Log your work sessions and export them</li>
      </ul>
    </div>

    <app-timer></app-timer>

  </div>

  <div class="paycheckDiv">

    <app-paycheck></app-paycheck>

    <div class="paycheckDesc">
      <h2>Paycheck</h2>
      <ul>
        <li>For students and others alike</li>
        <li>Put in your hourly rate, working hours and track your pay</li>
      </ul>
    </div>

  </div>



</div>

